#container{
	position: relative;
}

#myCanvas {
	
	background-image: url(../images/bad_news_stadium.png);
	background-size: 1200px 750px;
	background-repeat: no-repeat;
	height: 750px;
	width: 1200px;
	position: absolute;
	z-index: 0;
}

.scoreboard{
	background: black;
	width: 310px;
	height: 150px;
	z-index: 5;
	position: absolute;
	top: 55px;
	left: 37%;
}

.infoScreen{
	height: 25px;
	width: 25px;
	background-color: blue;
}
 .currentScore{
 	height: 25px;
	width: 25px;
	background-color: red;
 }

 .playResult {
 	height: 25px;
	width: 25px;
	background-color: pink;
 }

